<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to CodeJava Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h1>Health checks</h1>
    <h3>Admin microservice</h3>
    <p><span>Status: </span><span th:text="${adminStatus}">status</span></p>
    <p><span>Mongo status: </span><span th:text="${adminMongoStatus}">status</span></p>
    <p><span>Max Wire Versions: </span><span th:text="${adminWire}">status</span></p>
    <p><span>Ping status: </span><span th:text="${adminPingStatus}">status</span></p>
    <br>

    <h3>User microservice</h3>
    <p><span>Status: </span><span th:text="${userStatus}">status</span></p>
    <p><span>Mongo status: </span><span th:text="${userMongoStatus}">status</span></p>
    <p><span>Max Wire Versions: </span><span th:text="${userWire}">status</span></p>
    <p><span>Ping status: </span><span th:text="${userPingStatus}">status</span></p>
    <br>

    <h3>Order microservice</h3>
    <p><span>Status: </span><span th:text="${orderStatus}">status</span></p>
    <p><span>Mongo status: </span><span th:text="${orderMongoStatus}">status</span></p>
    <p><span>Max Wire Versions: </span><span th:text="${orderWire}">status</span></p>
    <p><span>Ping status: </span><span th:text="${orderPingStatus}">status</span></p>
    <br>

    <h3>Product microservice</h3>
    <p><span>Status: </span><span th:text="${productStatus}">status</span></p>
    <p><span>Mongo status: </span><span th:text="${productMongoStatus}">status</span></p>
    <p><span>Max Wire Versions: </span><span th:text="${productWire}">status</span></p>
    <p><span>Ping status: </span><span th:text="${productPingStatus}">status</span></p>

</div>

</body>
</html>